{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
  <div class="row text-center">


    <h1 class="display-2 mt-15 ml-2">Our Mission</h1>
  </div>

  <div class="row  mt-10">

    <div class="col-sm-4 text-center"><h1 class="pb-3"> Improved Access</h1>
      <p>We improve access to wellness services by bringing wellness practitioners directly into spaces where they are
        needed most.  We take the headache out of planning your next wellness opportunity by making it easy to book and implement wellness services.
      </p>

    </div>
    <div class="col-sm-4 text-center"><h1 class="pb-3"> Easy Booking </h1>
      <p> We work with a network of practitioners to provide wellness services directly on site.
        <br> <p></p> The result is a beautiful synergy between wellness practitioners and clients which allows the
        delivery of affordable and life changing services. </p>
    </div>

    <div class="col-sm-4 text-center"><h1 class="pb-3">Reduced Cost</h1>
      <p>  We believe healthy community starts a healthy people, and we apply this philosophy in everything we do. <br>  It starts with small changes in posture,
        attention and focus and results in far-reaching impacts in our relationship with the world around us. <br> With the proper support, we believe
        everyone can Blossome. </p></div>
  </div>
        <div class=" container text-center mb-5">
        <a href="{% url 'org-signup' %}" class="btn btn-lg btn-outline-secondary main-btn mt-5 mb-5" role="button">
          <h5 class="mb-0 m-1">Book Your Free Wellness Class</h5>
        </a>
      </div>
</div>
{% endblock content %}
